body {
    background: rgb(148,208,94);
background: linear-gradient(336deg, rgba(148,208,94,1) 10%, rgba(166,198,46,1) 50%, rgba(254,255,0,1) 100%);
}

.image {
    margin-left: 50px;
    height: 300px;
    width:300px;
}
.box {
    background-color: rgb(216, 214, 214);
    padding: 20px;
}
.servings {
    font-weight: 700;
    font-size: 20px;
}
.minutes {
    font-weight: 700;
    font-size: 20px;
}
.title {
    font-weight: 700;
}
.special {
    width:750px;
    background-color: rgba(166,198,46,1);
    font-weight: 700;
    font-size: 20px;
}
.new {
    background-color: white;
}
.instructions {
    font-size: 15px;
}

.button {
    background-color: black;
    color: white;
}
