* {
    --darkgrey: rgb(68, 68, 68);
    --main:#77b55a;
    --white: rgb(255, 255, 255);
    /* google font added can and will edit later */
    font-family: 'Lato', serif;
}

body {
    background: var(--main);
}
h1 {
    font-weight: 700;
    color: var(--darkgrey);
    background-image:  url("https://th.bing.com/th/id/Rc9ce858f2d52a8565b50a5754a2079ba?rik=jVieKvRtiUhX%2bw&riu=http%3a%2f%2fimage.made-in-china.com%2f43f34j00ENetmfoKbGbL%2fPorcelain-Floor-Tiles-Fossil-Wood-Light-Grey-.jpg&ehk=XegOLPijUlkMokW0YmnJzGFh6y1osbLeDroJhvSyq5M%3d&risl=&pid=ImgRaw");
    width: 450px;
    padding: 15px;
    display: flex;
}
.image {
    margin-left: 50px;
    height: 300px;
    width:300px;
}
.box {
    background-image: url("https://th.bing.com/th/id/Rc9ce858f2d52a8565b50a5754a2079ba?rik=jVieKvRtiUhX%2bw&riu=http%3a%2f%2fimage.made-in-china.com%2f43f34j00ENetmfoKbGbL%2fPorcelain-Floor-Tiles-Fossil-Wood-Light-Grey-.jpg&ehk=XegOLPijUlkMokW0YmnJzGFh6y1osbLeDroJhvSyq5M%3d&risl=&pid=ImgRaw");
    /* background-color: rgb(216, 214, 214); */
    padding: 20px;
}
.servings {
    font-weight: 700;
    font-size: 20px;
    color: var(--darkgrey);
}
.minutes {
    font-weight: 700;
    font-size: 20px;
    color: var(--darkgrey);
}
.title {
    font-weight: 700;
    color: var(--darkgrey);
}
.special {
    width:750px;
    background-color: var(--main);
    font-weight: 700;
    font-size: 20px;
    color: var(--darkgrey);
}
.new {
    background-color: var(--white);
}
.instructions {
    font-size: 15px;
    font-weight: 600;
    color: var(--darkgrey);
}
.ingredientslist {
    background-color: var(--white);
    font-size: 15px;
    font-weight: 500;
}
.image {
    border: solid  var(--darkgrey) 8px;
    margin-top: 25px;
}
.card {
    float:right;
    margin-right: 25px;
    background-image:  url("https://th.bing.com/th/id/Rc9ce858f2d52a8565b50a5754a2079ba?rik=jVieKvRtiUhX%2bw&riu=http%3a%2f%2fimage.made-in-china.com%2f43f34j00ENetmfoKbGbL%2fPorcelain-Floor-Tiles-Fossil-Wood-Light-Grey-.jpg&ehk=XegOLPijUlkMokW0YmnJzGFh6y1osbLeDroJhvSyq5M%3d&risl=&pid=ImgRaw");
    font-weight: 700;
    color: var(--darkgrey);
    font-size: 20px;
}

.buttonnew {
    float: right;
}
.nav-wrapper {
    background-image: url("https://th.bing.com/th/id/Rc9ce858f2d52a8565b50a5754a2079ba?rik=jVieKvRtiUhX%2bw&riu=http%3a%2f%2fimage.made-in-china.com%2f43f34j00ENetmfoKbGbL%2fPorcelain-Floor-Tiles-Fossil-Wood-Light-Grey-.jpg&ehk=XegOLPijUlkMokW0YmnJzGFh6y1osbLeDroJhvSyq5M%3d&risl=&pid=ImgRaw");
    padding-top: 10px;
}

.daybutton {
    background-color: gray;
    margin-top: 25px;
    display: flex;
}
.newday {
    display: flex;
    float: left;
    font-weight: 700;
    font-size: 30px;
    margin-right: 200px;
    margin-bottom: 30px;
    color: var(--darkgrey)
}
.savebutton {
    display:flex;
    float: right;
    background-color: gray;
}
.currentday {
    font-size: 50px;
}
.recipes {
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .days {
        flex-wrap: wrap;
        margin: 5px;
    }
    .daybutton {
        margin:5px;
    }
    .nav-wrapper {
        padding-bottom: 30px;
        
    }
    .newday {
        font-size: 22px;
        margin: 0px;
    }
    .title {
        width: 350px;
        font-weight: 700;
        display: flex;
        flex-wrap: wrap;
        -ms-flex-direction: column;
    }
    .image {
        display: none;
    }
    .savebutton {
        float:left;
        display: flex;
        margin-right: 25px;
    }
    .instructions {
        display: flex;
        width: 400px;
    }
    .special{
        display: flex;
        width: 400px;
    }
}
